body {
  background-color: #faee74;
  font-family: "Ubuntu Condensed", sans-serif;
}

.jumbotron {
  padding: 0;
  margin: 0;
  background-color: #faee74;
}

#header {
  background-image: url(../images/bg-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header img {
  display: block;
  margin: 50px auto;
  max-width: 90%;
}

.step a:link,
.step a:visited,
.step a:hover,
.step a:active {
  color: #4492ce;
  text-decoration: none;
}

.step p {
  text-align: center;
  background-color: #faee74;
  font-size: 25px;
  margin: 0 auto 30px;
}

.step p span {
  color: #ac4b7c;
}

.step-500 p {
  max-width: 500px;
}

.step-450 p {
  max-width: 450px;
}

.step-350 p {
  max-width: 350px;
}

.step-550 p {
  max-width: 550px;
}

.step-branco p {
  color: #4492ce;
}

.step-branco-1 p {
  background: #fff;
  padding: 10px 30px;
}

.step-branco-2 p {
  background-image: url(../images/bg-step-branco-2.png);
  background-position: center top;
  padding: 10px 0;
  background-size: cover;
}

.step-pronto p {
  background-image: url(../images/bg-pronto.png);
  background-position: center top;
  background-size: cover;
  padding: 10px 0;
  font-size: 31px;
  color: #fff;
}

.step-legendas p {
  background-image: url(../images/bg-legendas.png);
  background-position: center top;
  background-size: cover;
  padding: 15px 0;
  font-size: 35px;
  color: #fff;
  margin-top: 40px;
}

#assistindo {
  background-image: url(../images/bg-assistindo.png);
  background-position: center top;
  background-size: cover;
}

#assistindo a:link,
#assistindo a:visited,
#assistindo a:hover,
#assistindo a:active {
  color: #fff;
  text-decoration: none;
}

#assistindo .row-assistindo {
  max-width: 500px;
  margin: 0 auto;
}

#assistindo .titulo img {
  max-width: 250px;
}

#assistindo .existir img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

#assistindo .texto {
  padding-top: 40px;
}

#assistindo .texto p {
  color: #138c9f;
  font-size: 20px;
}

.final {
  padding-top: 30px;
}

.final p {
  margin: 0 auto 30px;
  color: #ac4b7c;
}

.final p span {
  color: #6a5497;
}

.footer {
  padding: 40px 0 0;
}

.footer .container {
  max-width: 500px;
}

.footer img {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media only screen and (max-width: 576px) {
  .step p {
    font-size: 18px;
  }
  .step-pronto p {
    padding: 30px 10px;
  }

  #assistindo .existir img {
    max-width: 250px;
    margin: 30px auto;
  }
}
